/*======= ОБЩИЙ КЛАСС =====*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.address {
  width: 246px;
  justify-self: end;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2px;
  gap: 5px;
}

.address a {
  text-decoration: underline;
  font-size: 18px;
}

.address a:hover {
  border-bottom-color: black;
}

.address span {
  display: block;
  font-size: 18px;
}

/* ===== ШАПКА =====*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 138px;
}

.header__logo-image {
  width: 100%;
  height: auto;
  display: block;
}

.header__nav {
  justify-self: start;
}

.header__menu {
  justify-self: stretch;
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__menu-item {
  font-size: 18px;
}

.header__menu-item:first-child {
  list-style: none;
}

/*===== МЕЙН =====*/

.cover {
  position: relative;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

.cover__title {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 20px 0;
  max-width: 1000px;
  letter-spacing: 31px;
}

.cover__title-text {
  padding-bottom: 100px;
  display: block;
}

.cover__title-text_left {
  align-self: start;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.cover__title-text_center {
  align-self: center;
  text-transform: uppercase;
  padding: 0 0 20px 330px;
}

.cover__title-text_right {
  text-align: start;
  text-transform: uppercase;
  padding-bottom: 90px;
  padding-left: 615px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.cover__description-text {
  position: relative;
  font-size: 22px;
  word-spacing: 19px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 28px;
}

.cover__button {
  position: relative;
  bottom: 3px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 11px 30.2px;
  cursor: pointer;
  transition: 0.3s;
}

.cover__button:hover {
  background: white;
  color: black;
}

/*  КАРТОЧКИ  */

.lots {
  padding: 0 20px 80px 20px;
}

.lots__title {
  padding-top: 176px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 27px 0;
  padding-left: 40px;
}

.lots__list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.lots__item {
  flex: 1;
  width: 334px;
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: white;
}

.card {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin: 0 0 20px 0;
  max-width: 100%;
}

.card__text {
  font-size: 18px;
  line-height: 1.35;
  margin: 0;
  max-width: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__more {
  padding-top: 4px;
  padding-left: 44px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.lots__more span {
  border-bottom: 1px solid black;
}

.lots__more:hover {
  opacity: 0.6;
}

/*  ОБ АУКЦИОНЕ  */

.about {
  padding: 80px 50px 150px 50px;
  display: grid;
  grid-template-columns: 310px 1fr;
  gap: 25px;
  align-items: start;
}

.about__logo {
  grid-column: 1;
  justify-self: center;
  align-self: start;
  margin-top: 250px;
}

.about__logo-image {
  margin-left: 20px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image img {
  width: 148px;
  height: 114px;
  display: block;
}

.about__column {
  padding-top: 80px;
  grid-column: 2;
  max-width: 660px;
}

.about__title {
  padding-top: 14px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  letter-spacing: normal;
}

.about__text-block {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 690px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: #000;
  text-align: left;
  max-width: 800px;
}

/*  ПОДВАЛ  */

.footer {
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: start;
  padding: 30px 50px;
}

.footer .address {
  margin-right: auto;
}

.footer__menu {
  justify-self: center;
}

.footer__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 10px;
}

.footer__menu li {
  margin-bottom: 10px;
}

.footer__menu li:last-child {
  margin-bottom: 0;
}

.footer__menu a {
  height: 21px;
  font-size: 18px;
}

.footer__menu a:hover {
  border-bottom-color: black;
}

.footer__menu_main {
  text-decoration: none;
}

.footer__social {
  justify-self: end;
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social li {
  width: 48px;
  height: 48px;
}

.footer__social a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__social img {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.3s;
}

.footer__social img:hover {
  opacity: 0.7;
}
