/* * {
  border: 2px solid red !important;
} */

/* ===== ШАПКА =====*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 30px 50px; 
  
}

.header__logo {
  display: block;
  grid-column: 2;
  justify-self: center;
  width: 148px;
  margin-top: 20px;
}

.header__logo-image {
  width: 100%;
  height: auto;
  display: block;
}

.header__nav {
  grid-column: 1;  
  justify-self: start;
}

.header__menu {
  /*border:  5px solid orange; */
  justify-self: stretch;
  display: flex;
  gap: 40px;
  list-style: circle;
  
}

.header__menu {
  position: relative;
  bottom: 84px;
}

.header__menu-item {
  /* отступы*/  
}

.header__menu-item a {
  /*стили*/
}

.header__menu-item:first-child {
  list-style: none;
}

.address {
  position: relative;
  grid-column: 3;
  max-width: 240px;
  justify-self: end;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
  right: 40px;
  bottom: 100px;

}

.address a {
  /*стили текста*/
}

address a:hover {
  border-bottom-color: black;
}

.address span {
  /*стили текста*/
}


/*ОВЕРЛЕЙ ИЛИ МЕЙН*/


.cover { 
position: relative;
min-height: 757px;
background-image: url(../images/cover.jpg);
background-size: cover;
background-position: center;
color: white;
padding: 50px;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

.cover__title {
  text-transform: uppercase;
  font-size: 142px;
  font-weight: bold;
  line-height: 1.1; 
  margin: 0 0 20px 0;
  max-width: 1000px;
}

.cover__title-text {
  display: block;
}

.cover__title-text_left {
  text-align: left;
  
}

.cover__title-text_center {
  text-align: center;
  
}

.cover__title-text_right {
  text-align: right;
  
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 12px;
  text-transform: uppercase;
  margin: 0px;
  font-weight: 400;
  line-height: 28px;
}


.cover__button {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.cover__button:hover {
  background: white;
  color: black;
}

/*  КАРТОЧКИ  */

.lots {
  padding: 50px;
}

.lots__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 30px 0
}

.lots__list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.lots__item {
  flex: 1;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: white;
}

.card {
  position: relative;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0 0 20px 0;
  align-self: flex-start;
  word-wrap: break-word;
  overflow-wrap: break-word;
  right: 2px;
  top: 8px;
  border-bottom-color: white;
}

.card__text {
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  align-self: flex-end;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: auto;
  width: 230px;
  box-sizing: border-box;
  right: 13px;
  top: 15px;

}

.lots__more {
  font-size: 20px;
  padding-bottom: 2px;
}

.lots__more:hover {
  border-bottom-color: gray;
}

/*  ОБ АУКЦИОНЕ  */

.about {
  padding: 50px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 50px;
}

.about__logo {
  grid-column: 1;
  justify-self: center;
  align-self: start;
}

.about__logo-image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 30px;
}

.about__logo-image img {
  width: 148px;
  height: 114px;
  display: block;
}

.about__column {
  grid-column: 2;
  margin-top: 130px;
  margin-left: 32px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 94px;
}

.about__text-block {
  width: 100%;
  max-width: 800px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-size: 18px;
  line-height: 1.5;
  width: 623px;
}


/*  ПОДВАЛ  */

.footer {
  margin-top: 105px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: start;
  padding: 30px 50px;
}

.footer__address {
  min-width: 240px;
  justify-self: start;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.footer__address a,
.footer__address span { 
  
}

.footer__address a:hover {
  border-bottom-color: black;
}

.footer__menu {
  grid-column: 2;
  justify-self: center;
}

.footer__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 10px;
}

.footer__menu li {
  margin-bottom: 10px;
}

.footer__menu li:last-child {
  margin-bottom: 0;
}

.footer__menu a {
 
}

.footer__menu a:hover {
  border-bottom-color: black;
}


.footer__menu_main {
  text-decoration: none;
}


.footer__social {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social li {
  width: 48px;
  height:48px;
}

.footer__social a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__social img {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.3s;
}

.footer__social img:hover {
  opacity: 0.7;
}